body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

h1, h2 {
  color: darkblue;
}

p {
  color: grey;
}

ul {
  list-style: none;
}

ul li {
  background: #333;
  color: #fff;
  margin: 5px;
  padding: 10px;
}

ul li:hover {
  background:darkblue;
  padding: 15px;
  transform: scale(1.1);
  transition: all 0.3s ease;
}